@page
@model IndexModel
@{
    ViewData["Title"] = "Informacja";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SimWeb</h1>
    <p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
    <p>Mapa typu torus.</p>
    <p>
        Sekwencja ruchów: 
        <b>dlrlldlrudlrurl</b>
    </p>
    <img src="~/images/ork.jpg" alt="Orc" class="centered-image" />
</div>
